@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Special+Elite");

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Special Elite" ,
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.9em;
}

body::-webkit-scrollbar-thumb {
  background-color: #c588ff;
  border-radius: 3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-scroll::-webkit-scrollbar {
  width: 0.7em;
}

.custom-scroll::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #9333ea;
  border-radius: 2px;
}

@layer base {
  .label {
    @apply rounded-[5px]  font-inter font-semibold  focus:outline-none transition duration-300 ease-in;
  }
}
